.nav {
    display: flex;

}

.links {
    width: 200px;
    background-color: #f0f0f0;
    height: 100vh;
    overflow-y: auto;


}

.links a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc;


}

.links a:hover {
    background-color: #ddd;

}

.links a:first-child {
    padding-top: 100px;
}

.content {
    flex: 1;
    padding: 20px;
}